/* CSS declarations go here */

body {
  padding: 0;
  margin: 0;
  color: #fff;
  font-family: monospace;
}

* {
  box-sizing: border-box;
}

a {
  color: #fff;
}

img {
  max-width: 100vw;
  max-height: 100vh;
}

h1 {
  font-size: 4.2vh;
}

h3 {
  font-size: 2.5vh;
  font-weight: normal;
}

p {
  font-size: 2vh;
}

.page {
  height: 100vh;
  background: #333;
  text-align: center;
  display: -webkit-flex;
  align-items: center;
  justify-content: center;
  -webkit-align-items: center;
  -webkit-justify-content: center;
}

.content {
}
